<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Move Bot Home Page</title>

    <link rel="stylesheet" href="/css/bootstrap.css" >
</head>
<body style="background:#e3e3e3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <center><img src="/images/movelogo.png" class="img-responsive" width="500" height="250"></center>
                <h3 style="margin-top: 10px; color: #061700" class="text-center">Oops!!! We couldn't find the page you're looking for. <a style="color: #061700; font-style: italic; text-decoration: underline; font-size: 18px" href="https://www.messenger.com/t/Moveservicegh">Visit Move Bot here</a></h3>                
            </div>      
        </div>
        
    </div>
</body>
</html>